header {
    width: 100%;
    background-color: #F2C84B;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-links {
    display: flex;
    margin: 0 170px;
    padding-top: 20px;
    justify-content: space-between;
}

.header-links img {
    width: 150px;
}

.header-links ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-links li {
    font-size: 30px;
    color: #BF1725;
}

.header-main-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-left: 45px;
    color: #231E23;
}

.header-main-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.header-main-content p {
    font-size: 24px;
}

.header-main-content img {
    width: 450px;
}

.header-text {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#reviews {
    margin-top: 20px;
    margin-bottom: 50px;
}

#reviews h1 {
    color: #231E23;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

#reviews ul {
    display: flex;
    justify-content: space-around;
}

#reviews li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reviews img {
    border: 5px solid #D97236;
    border-radius: 20px;
    width: 250px;
}

#reviews p {
    width: 250px;
    font-size: 20px;
    text-align: center;
}